body {
    padding-top: 50px;
}

.odin-server {
    padding: 40px 15px;
    text-align: center;
}


#configuration-container{

    text-align : center;
}

.input-group{

    width: 25%;
    text-align: center;
}