body {
    padding-top: 50px;
}

.odin-server {
    padding: 40px 15px;
    text-align: center;
}


#configuration-container{

    text-align : center;
}

.input-group{

    width: 100%;
    text-align: center;
}

#input-div{

    width: 25%;
}

.dropdown-menu{

    float: none;
    text-align: center;
    width: 100%;
  
}

#current-processor-file, #current-receiver-file{

    display: block;
}