body {
    padding-top: 50px;
}

.odin-server {
    padding: 40px 15px;
    text-align: center;
}


#configuration-container{

    text-align : center;
}

#calibration-container{
    text-align: center;
}

#vector-file-container{
    text-align: center;
}

#file-write-container{
    text-align: center;
}
.input-group{

    width: 100%;
    text-align: center;
    margin-top: 5px;
}

input[type="number"]{
    text-align: right;
}

.btn-group{
    margin: 5px;
}

#input-div{

    width: 25%;
}

.dropdown-menu{

    float: none;
    text-align: center;
    width: 100%;
  
}
.progress{
    background-color: #cccccc;
}
#current-processor-file, #file-badge, #current-receiver-file{

    display: block;
}

